/node_modules
/.env
.DS_Store
npm-debug.log
yarn-error.log
.vscode/
dist/
logs/
*.log
coverage/
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea/
*.iml
.cache/
.next/
out/
.build/
.svelte-kit/
.nuxt/
*.tsbuildinfo
.vite/
*.swp
*.swo
/package-lock.json
/yarn.lock
